header {
  max-width: 1280px;
  margin-inline: auto;
  justify-content: space-between;
  background: var(--surface-color);
  padding-inline: 1rem;

  & img:nth-child(3){
    width: 2.5rem;
    height: 2.5rem;
  }
}

@media (width >= 80em) {
  header {
    padding-inline: 2rem;
  }
}