#info {
  max-width: 1280px;
  margin-inline: auto;
  background: var(--surface-color);
  padding-inline: 2rem;
  font: var(--fw-regular) var(--fs-sm)/170% var(--ff-po);

  & .profile img {
    width: 176px;
    height: 176px;
  }

  & #description {
    max-width: 384px;
  }

  & ul {
    display: flex;
    flex-direction: column;
  }

  & ul li {
    display: flex;
    align-items: center;
  }

  & ul li img {
    margin-right: .5rem;
  }
}

@media (width >= 80em) {

  #info {
    display: flex;
  }

  .profile {
    width: 592px;
    gap: 2rem;
    margin-right: auto;
    display: flex;
  }
}