.container {
  --max-width: 360px;
  width: min(var(--max-width), 100% - var(--px-lg) * 2);
  margin-inline: auto;
}

.flex {
  display: flex;
}

.grid {
  display: grid; 
}

.gap-1 {
  gap: 1rem;
}

.gap-1\.5 {
  gap: 1.5rem;
}

.items-center {
  align-items: center;
}

.py-base {
  padding-block: var(--py-base);
}

.py-lg {
  padding-block: var(--py-lg);
}

.py-xl {
  padding-block: var(--py-xl);
}

.desktop-only {
  display: none;
}

@media (width >= 80em) {

  .container {
    --max-width: 80rem;
  }

  .desktop-only {
    display: initial;
  }
}